@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "font-regular";
  src: url("../public/font/MontRegular.woff");
}
@font-face {
  font-family: "font-bold";
  src: url("../public/font/MontBold.woff2");
}

@font-face {
  font-family: "font-semiBold";
  src: url("../public/font/MontSemiBold.woff");
}
body {
  @apply overflow-x-hidden;
}
